<div class="footer-us-flag"><img src="{{ base_url }}/assets/img/us-flag.png" width="25px" /> Made Securely in the U.S.</div>
<div class="footer-links"><a href="{{ base_url }}//terms">Terms of Use</a> &bullet; <a href="{{ base_url }}//privacy-policy">Privacy Policy</a></div>
<img src="{{ base_url }}/assets/img/Lux-Logo-small.png" height="40px" class="footer-logo" />
<div>&copy; 2020-{{ 'now' | date: "%Y" }} Lux Health Corp.</div>
<div class="footer-string"><span class="medium-font-weight">Lux Health</span> is a registered trademark of Lux Health Corp.  All rights reserved.</div>
